<!doctype html>

<html>

<head>
    <title>Happy Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body class="bg-blue">

    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">Happy Weather</a>
    </nav>

    <div id="app"></div>

    <script type="text/x-template" id="queries-template">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-gray pb-2 mb-0">Recent queries<button v-on:click="refresh" class="btn btn-primary float-right">Refresh</button></h6><br>
            <article v-if="queries" v-for="query of queries">
                <div class="media text-muted pt-3">
                <img v-if="query.predictions.length === 0" src="http://placehold.it/32/FF0000?text=✓" class="mr-2 rounded">
                <img v-if="query.predictions.length > 0" src="http://placehold.it/32/008000?text=✓" class="mr-2 rounded">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">{{query.geographicalAttributes["city-name"]}} - {{query["numberOfPredictedDays"]}} days</strong> 
                    <ul class="list-group">
                            <li class="list-group-item">Creator: {{query.requester}}</li>
                            <li class="list-group-item">Date: {{new Date(query.date).toDateString()}}</li>
                            <li class="list-group-item">State: {{query.geographicalAttributes["state"]}}</li>
                            <li class="list-group-item">Predictions: {{query.predictions.length > 0 ? "Done" : "Awaiting"}}</li>
                            <li class="list-group-item">Accuracy: Collecting Data</li>
                            <li class="list-group-item"><button class="btn btn-info">View</button></li>
                          </ul>
                </p>
                </div>
            </article>
                <small class="d-block text-right mt-3">
                  <a href="#">Back to top</a>
                </small>
        </div>
    </script>
    <script type="text/x-template" id="places-template">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
                <form class="input-group mb-3">
                    <div class="form-group">
                        <label for="requesterInput">Requester</label>
                        <input v-model="requester" type="text" name="requesterinput" class="form-control" id="requesterInput" aria-describedby="requesterHelp">
                        <small id="requesterHelp" class="form-text text-muted">Something to identify your prediction by.</small>
                    </div>
                    <div class="form-group col">
                        <label for="locationInput">Location</label>
                        <input :disabled="!showLocationInput" type="text" name="locationinput" v-model="place" class="form-control" id="locationInput">
                    </div>
                                
                </form>
                <div v-if="showTypeBanner" class="alert alert-secondary" role="alert">
                    Keep typing...
                </div>
                <div v-if="showLocationBanner" class="alert alert-secondary" role="alert">
                    {{place && places && places.results[0].name}}
                </div>
                <button v-if="showSelectLocationButton" class="btn btn-primary btn-lg btn-block" v-on:click="selectLocation">Select Location</button>
                <button v-if="showPredictButton" class="btn btn-primary btn-lg btn-block" v-on:click="contactServer">Predict</button>
                {{errorText}}
            </div>
    </script>
    <script type="text/x-template" id="main-template">
        <main role="main" class="weather-width"><br>

            <div class="my-3 p-3 rounded">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <h6 class="border-gray pb-2 mb-0">Introduction</h6>
                    <p>
                        Welcome to Happy Weather! This is a friendly weather prediction 
                        system based on Machine Learning. Enter a location you want to predict
                        the weather for. In a few minutes your query will display a prediction
                        for 7 days in the future. Later, the real-world weather for those 7
                        days will be collected and will be used to verify the accuracy of the prediction.
                    </p>
                </div>
                <section>
                    <places></places>
                </section>
                
                <section>
                    <queries></queries>
                </section> 
            </div>
        </main>
    </script>
    <script src="main.js" type="module"></script>
</body>

</html>