.bg-blue {
    background-color: #2385e6
}

.connect {
    width: 14px;
    height: 14px;
    background-color: green;
    border-radius: 100%;
}

@media only screen and (min-width: 50em) {
    .weather-width {
        max-width: 90%;
    }
}

@media all and (min-width: 1025px) {
    .weather-width {
        margin-left: 20%;   
        max-width: 60%;
    }
}

.slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }