/* Thanks to Steve Schoger for design tips throughout. https://twitter.com/i/moments/880688233641848832 */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.bg-blue {
    margin: 0;
    background-color: hsl(24, 21%, 93%);
}

.connect {
    width: 14px;
    height: 14px;
    background-color: green;
    border-radius: 100%;
}

/* Thanks to Blowsie - https://stackoverflow.com/a/4407335/3938113 */
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.bottom-margin {
    margin-bottom: 8px;
}

.nav-main {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    padding: 15px;
    text-align: center;
    background: #4b367c;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75)
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.nav-title {
    color: white;
    text-decoration: none;
    font-weight: bold;
    grid-column: 1
}

.nav-title:hover {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
}

.white-nav-text {
    color: hsl(192, 17%, 99%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.white-nav-text:hover {
    color: darkturquoise
}

.subnav {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: auto;
    grid-gap: 4em;
    color: white;
    background: white;
    align-items: center;
    padding: 9px 5px 7px 16px;
    border: 2px solid black;
}

.sub-nav-text {
    text-decoration: none;
    letter-spacing: 2px;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    margin-block-start: 0;
    text-align: left;
    margin-block-end: 0;
    font-weight: 500;
}

ul {
    padding-inline-start: 0px;
    margin-block-end: 0;
    line-height: 1.5;
}

li.query-small {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    list-style-type: none;
}

button.close {
    float: right;
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size: 24px;
}

span.status-green {
    font-weight: bolder;
    color: green;
}

span.status-red {
    font-weight: bolder;
    color: red;
}

.list-item {
    font-weight: 400;
    list-style-type: none;
    color: #586368;
    font-size: 18px;
}

p.text {
    color: hsl(0, 0, 37%);
    font-size: 16px;
    line-height: 1.5;
}

p::-moz-selection {
    background-color: yellow;
}

p::selection {
    background-color: yellow;
}

select {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
}

.grid-table {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 50;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.grid-table>span {
    padding: 8px 4px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.toast {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: white;
    padding: 25px;
    min-width: 200px;
    text-align: center;
    border: 2px solid black;
    border-top: 4px solid green;
    border-radius: 5px;
    z-index: 101;
}

.app-level-alert {
    text-align: center;
    text-transform: uppercase;
    padding-top: 16px;
    background-color: red;
    margin-bottom: -0.59%;
}

/* Thanks to Skeleton.css for the great buttons and inputs */
button.main {
    display: inline-block;
    /* height: 38px; */
    padding: 0 30px;
    color: white;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    width: 65%;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    white-space: nowrap;
    background-color: deepskyblue;
    /* #ff00a5 */
    border-radius: 4px;
    border: 2px solid black;
    cursor: pointer;
    box-sizing: border-box;
}

button.main:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

button.block {
    width: 100%;
}

div.modal {
    width: 90%;
    border: 1px solid;
    border-top: 4px solid green;
    border-radius: 5px 5px 0px 0px;
    position: fixed;
    left: 3%;
    bottom: 0;
    background-color: white;
    padding: 5px;
    z-index: 100;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

input {
    font-family: 'Ubuntu', sans-serif;
    height: 38px;
    padding: 6px 10px;
    background-color: hsl(210, 9%, 96%);
    border: 2px solid black;
    border-radius: 4px;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08); */
    box-sizing: border-box;
}

.box {
    background-color: white;
    border: 2px solid black;
    border-bottom: 4px solid black;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
}

.query {
    border-bottom: 1px solid black;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
}

.grid-item {
    grid-column: 1;
}

.router-padding {
    padding: 0px 5px 0px 5px;
}

/* Home Template */

.home-grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
}

/* Home Template */

/* Quick View Modal */

.quick-view-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "All";
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.quick-view-All {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "Title Title Close""Select Select Select""List List List";
    grid-area: quick-view-All;
}

.quick-view-Title {
    grid-area: quick-view-Title;
}

.quick-view-Close {
    grid-area: quick-view-Close;
}

.quick-view-Select {
    grid-area: quick-view-Select;
}

.quick-view-List {
    grid-area: quick-view-List;
}

/* Quick View Modal */

/* Places Form Grid */
.places-grid-container {
    display: grid;
    grid-template-rows: 5fr;
    grid-auto-columns: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: left;
}

/* Places Form Grid */

/* Queries Template */

.queries-grid-container {
    display: grid;
    grid-template-rows: 5fr;
    grid-auto-columns: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: left;
}

/* Queries Template */

.queries-info-green {
    padding-left: 8px;
    border: 2px solid black;
    border-left: 4px solid green;
    border-radius: 0px 4px 4px 0px;
}

.queries-info-red {
    padding-left: 8px;
    border: 1px solid black;
    border-left: 4px solid red;
    border-radius: 0px 4px 4px 0px;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

@media only screen and (min-width: 50em) {
    .weather-width {
        max-width: 90%;
    }
}

/* Desktop */
@media all and (min-width: 1025px) {
    .weather-width {
        margin-left: 20%;
        max-width: 60%;
    }

    .grid-container>div {
        padding: 0;
        max-width: 50%;
        margin-left: 25%;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    .router-padding {
        padding: 0;
    }

    .nav-main {
        padding: 15px 23% 15px 22%;
    }

    .subnav {
        width: 50%;
        position: fixed;
        margin-bottom: 0%;
        transition: 1s;
        right: 0;
        border-radius: 0px 0px 0px 5px;
    }

    button.main {
        width: 27%;
    }

    button.block {
        width: 100%;
    }

    div.modal {
        border: 1px solid black;
        border-top: 4px solid #222098;
        width: 34%;
        left: 16%;
    }

    /* Table */

    table {
        border: 1px solid black;
        background-color: white;
        padding: 15px;
    }

    th {
        font-size: 14px;
        font-weight: semibold;
        color: #4A4A4A;
        text-transform: uppercase;
    }

    tr {
        padding: 15px;
        border-top: #E6E6E6;
        text-align: left;
        border-left: none;
        border-right: none;
    }

    td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #E1E1E1;
    }

    th:first-child,
    td:first-child {
        padding-left: 0;
    }

    th:last-child,
    td:last-child {
        padding-right: 0;
    }

    /* Table */
}

div.modal {
    -webkit-animation: show 1s ease normal;
    animation: show 1s ease normal;
}

@-webkit-keyframes show {
    from {
        transform: translateY(110%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes show {
    from {
        transform: translateY(110%);
    }

    to {
        transform: translateY(0%);
    }
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to

/* .slide-fade-leave-active below version 2.1.8 */
    {
    transform: translateX(10px);
    opacity: 0;
}

/* Table */

table {
    border: 1px solid black;
    /* padding: 5px; */
}

th {
    font-size: 14px;
    font-weight: semibold;
    color: #4A4A4A;
    text-transform: uppercase;
}

tr {
    padding: 15px;
    border-top: #E6E6E6;
    text-align: left;
    border-left: none;
    border-right: none;
}

td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

/* Table */