.bg-blue {
    background-color: #2385e6
}

.connect {
    width: 14px;
    height: 14px;
    background-color: green;
    border-radius: 100%;
}

@media only screen and (min-width: 50em) {
    .weather-width {
        max-width: 90%;
    }
}

@media all and (min-width: 1025px) {
    .weather-width {
        margin-left: 20%;
        max-width: 60%;
    }
}